MELI_ACCESS_TOKEN=
MELI_SELLER_ID=

GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

SHEET_NAME=Ventas
MELI_PAGE_SIZE=50
MELI_MAX_RETRIES=3
LOG_RAW_PAYMENTS=false
